#d {
    color:blue;
}

#u{
    color:red;
}

#c {
    color:green;
}

#k {
    color:orange;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

